* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbar {
  display: flex;
  width: 100%;
  height:50px;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  position:fixed;
  top:0;
  z-index: 1000;
  
}
#social ul {
  display: flex;
  list-style: none;

}
#navitems ul {
  display: flex;
  list-style: none;
  list-style: none;
  /* justify-content:; */
}
#navbar h1{
    color:white
}
#icon1 {
  margin: 34px, 45px;
}
#icon1 img {
  height: 30px;
}
#icon2 img {
  height: 30px;
}
#icon3 img {
  height: 30px;
}
#navitems ul li a{
    display: block;
    padding: 3px 10px;
    margin-left: 10px;
    text-decoration: none;
    color:white;
   
}
#navitems ul li a:hover{
    /* box-shadow: 5px; */
    border-radius: 10px;
    color:black;
    background-color: white;
}
#social ul li a{
    display: block;
    padding: 3px 20px;
    border-radius: 10px;
    
}

/* main-content */
#main-content{
    position:relative;
    top:50px;
    width: 100%;
    height:400px;
    background-image: url("https://static.toiimg.com/thumb/53110049.cms?width=1200&height=900");
    opacity: 0.99;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(3,1fr) ;
    place-items: center;
    row-gap:15px;
}
 h1.h-primary{
    align-self:baseline;
    color:white;
    font-size: 50px;
    margin:20px 40px;
    padding:30px;
    border-bottom: 10px solid pink;
    width:60%;

}
p.para{
    color:white;
    margin:10px 40px;
    grid-row-start: 2;
    grid-row-end: 3;
    padding:0px,40px;
    width:60%
}
#about-us-section{
    position:relative;
    top: 50px;
    background-color: black;
    text-align: center;

}
#about-us-section h1{
    display:block;
    width:180px;
    margin: auto;
    padding: 20px;
    color:white;
    border-bottom: 5px solid green;
}
#about-us-section p{
    color:white;
}
.A{
    display:flex;
    height:300px;
    width:100%;
    justify-content: center;
    align-items: center;
}
.A img{
    width: 300px;
    margin:10px 40px;
}
.A p{
    display: block;
    margin:30px 40px;

    border: 1px solid white;
    width: 200px;
}
#menu-section{
    position:relative;
    top:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
#menu-section h1{
    display: block;
    width:110px;
    border-bottom: 5px solid green;
    margin:10px;
    padding:10px;
    font-size: 25px;
    color:white
}
#menu-section p{
    display: block;
    width:100%;
    padding:20px;
    color: white;
    /* font-size: 20px; */
}
/* ////////////////// */
.pizza1 img{
    height:100px;
    border-radius: 10px;
}
.pizza1 p{
    display: block;
    width:100px;
    margin:5px 10px;
    color: white;

}
.pizza1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.pizza1 div>p>span{
    font-size: 20px;
    font-weight: bold;
    color:red;
}
.menu-grid{

    position: relative;
    top:5px;
    display:grid;
    margin:100px 200px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}
#find-us-section{
    position: relative;
    top: 50px;
    background-color: black;


    
}
#find-us-section h1{
    display: block;
    width:120px;
    border-bottom: 5px solid green;
    margin:0 45%;
    color:white
}
.left{
    display:block;
    width:25%;
    margin:60px;
    color:white
}
#find-us-section img{
    height:30px;
}


.footer{
    position: relative;
    top:50px;
    display:flex;
    justify-content: space-between;
    padding: 40px;
    color:white;
    background-color: black;
}
.right img{
    height:30px;
}
.delivery img{
    height: 100px;
}
